@CHARSET "UTF-8";

#user-avatar {
	float:left;
	width:200px;
}

#user-block-contacts {
	float: left;
	padding-left: 15px;
	padding-right: 15px;
}

.user-contacts-parameters {
	list-style: none;
	line-height: 1.4em;
	font-size:medium;
	color: rgb(120, 120, 120);
	margin-top: 0;
}